page-fault-detail {
  .label {
    color: #000;
    font-size: 90%;
  }
  ion-input .text-input {
    display: block;
    text-overflow: ellipsis;
    margin-left: 0px!important;
    width: calc(100% - (5px / 2) - 5px)!important;
    font-size:15px;
    //width: calc(100% - (5px / 2) - 5px);
    white-space: nowrap;
  }
   ion-textarea .text-input{
     margin-left: 0px!important;
     width: calc(100% - (5px / 2) - 5px)!important;
     font-size:15px;
   }
}
