<ion-header>
  <ion-navbar>
    <ion-title>Top5 Alarm</ion-title>
    <!--<button ion-button (click)="dismiss()" end>-->
    <!--<span ion-text color="primary" showWhen="ios">未认领 <span class="badge" ng-bind="alarmDatas.unhandle"></span></span>-->
    <!--<ion-icon name="md-close" showWhen="android"></ion-icon>-->
    <!--</button>-->
    <ion-buttons color="primary" end>
      <a class="btn btn-sm btn-default pull-right" type="button">
        未认领 <span class="badge">{{unhandle}}</span>
      </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let alarm of topAlarms">
      <ion-item class="item item-block item-md">
        <!--<ion-icon item-start color="danger">-->
        <!--<span class="label label-danger" *ngIf="alarm.alertLevel==1">严重</span>-->
        <!--<span class="label label-warning" *ngIf="alarm.alertLevel==2">警告</span>-->
        <!--<span class="label label-info" *ngIf="alarm.alertLevel==3">通知</span>-->
        <!--</ion-icon>-->
        <!--<ion-label>{{alarm.title}}</ion-label>-->
        <!--<ion-note>{{alarm.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</ion-note>-->

        <ion-avatar item-start>
          <span class="label label-danger" *ngIf="alarm.alertLevel==1">严重</span>
          <span class="label label-warning" *ngIf="alarm.alertLevel==2">警告</span>
          <span class="label label-info" *ngIf="alarm.alertLevel==3">通知</span>
        </ion-avatar>
        <!--<div class="item-inner">-->
        <!--<div class="input-wrapper">-->
        <ion-label class="label label-md">
          <p>{{alarm.title}}</p></ion-label>
        <!--</div>-->
        <!--</div>-->
        <ion-note item-end class="note note-md" style="margin-right: 2px">{{alarm.createTime |
          date
          : 'yy-MM-dd HH:mm:ss'}}
        </ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="presentConfirm(alarm.id)">认领</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
